.cardImg {
    width:100%;
}

.cardBoard {
    padding: 0.75rem;
    background-color: #fff;
    margin-bottom: 1px;
}

.cardName {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: 0.75rem;
}

.cardColor2 {
    color: rgba(69, 34, 77, 0.6);
}

.cardTag {
    font-size: 0.75rem;
}

.button {
    background: #8E44AD;
    border-radius: 10px;
    padding: 0.75rem;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1.5rem;
}

.link {
    color: #5181B8;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 1.5rem;
}