@import '~styles/variables.scss';

.root {
  height: 50px;
  background: linear-gradient(90deg, #8E44AD 16.4%, #6D1393 100%);
  border: 0.5px solid rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(32.6194px);
  margin-bottom: 1em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: $main-bg;
  font-size: 1.125em;
  font-weight: bold; 
}