$color-bg: #fff;
$color-default: #bb8fce;
$color-active: #8e44ad;

.root {
  padding-bottom: constant(safe-area-inset-top, 12px);
  padding-bottom: env(safe-area-inset-top, 12px);
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  line-height: 12px;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: $color-bg;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-default;
    text-decoration: none;
  }

  .active {
    color: $color-active;
  }
}
